# KNN Exercise

---


# Name: Lê Minh Nhật
# Student ID:20520115

Import package

In [146]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

Load dataset

In [147]:
data = pd.read_csv('/content/titanic (1).csv')

Show 5 first lines of dataset

In [148]:
data.head()

  social class    age   sex survived
0          1st  adult  male      yes
1          1st  adult  male      yes
2          1st  adult  male      yes
3          1st  adult  male      yes
4          1st  adult  male      yes

Count the 'NaN' values in each column.

In [149]:
countNULL = data.isna().sum()
countNULL

social class    0
age             0
sex             0
survived        0
dtype: int64

Encode the 'age' column

In [150]:
# Load package here
from sklearn.preprocessing import LabelEncoder
lable_encoder = LabelEncoder()

In [151]:
# Initalize the encoder for the 'age' column
data['age'] = lable_encoder.fit_transform(data['age'])

In [152]:
# Fit and transform here
data

     social class  age     sex survived
0             1st    0    male      yes
1             1st    0    male      yes
2             1st    0    male      yes
3             1st    0    male      yes
4             1st    0    male      yes
...           ...  ...     ...      ...
2196         crew    0  female      yes
2197         crew    0  female      yes
2198         crew    0  female       no
2199         crew    0  female       no
2200         crew    0  female       no

[2201 rows x 4 columns]

Encode the 'sex' column

In [153]:
# Initalize the encoder for the 'sex' column
data['sex'] = lable_encoder.fit_transform(data['sex'])

In [154]:
# Fit and transform here
data

     social class  age  sex survived
0             1st    0    1      yes
1             1st    0    1      yes
2             1st    0    1      yes
3             1st    0    1      yes
4             1st    0    1      yes
...           ...  ...  ...      ...
2196         crew    0    0      yes
2197         crew    0    0      yes
2198         crew    0    0       no
2199         crew    0    0       no
2200         crew    0    0       no

[2201 rows x 4 columns]

Encode the 'survived' column

In [155]:
# Initalize the encoder for the 'survived' column
data['survived'] = lable_encoder.fit_transform(data['survived'])

In [156]:
# Fit and transform here
data

     social class  age  sex  survived
0             1st    0    1         1
1             1st    0    1         1
2             1st    0    1         1
3             1st    0    1         1
4             1st    0    1         1
...           ...  ...  ...       ...
2196         crew    0    0         1
2197         crew    0    0         1
2198         crew    0    0         0
2199         crew    0    0         0
2200         crew    0    0         0

[2201 rows x 4 columns]

Encode the 'social class' column

In [157]:
# Load package here
from sklearn.preprocessing import LabelEncoder
lable_encoder = LabelEncoder()
from sklearn.preprocessing import OneHotEncoder

In [158]:
# Initalize the encoder
data['social class'] = lable_encoder.fit_transform(data['social class'])
data

      social class  age  sex  survived
0                0    0    1         1
1                0    0    1         1
2                0    0    1         1
3                0    0    1         1
4                0    0    1         1
...            ...  ...  ...       ...
2196             3    0    0         1
2197             3    0    0         1
2198             3    0    0         0
2199             3    0    0         0
2200             3    0    0         0

[2201 rows x 4 columns]

In [159]:
column = 'social class'

In [160]:
# Fit and transform here
one_hot_encoder = OneHotEncoder(sparse = False)
data_new_column = one_hot_encoder.fit_transform(data[[column]])
data_new_column

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]])

In [161]:
# Recreate the new 'social class' column
new_column = pd.DataFrame(data=data_new_column,columns=one_hot_encoder.get_feature_names([column]))
new_column

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      social class_0  social class_1  social class_2  social class_3
0                1.0             0.0             0.0             0.0
1                1.0             0.0             0.0             0.0
2                1.0             0.0             0.0             0.0
3                1.0             0.0             0.0             0.0
4                1.0             0.0             0.0             0.0
...              ...             ...             ...             ...
2196             0.0             0.0             0.0             1.0
2197             0.0             0.0             0.0             1.0
2198             0.0             0.0             0.0             1.0
2199             0.0             0.0             0.0             1.0
2200             0.0             0.0             0.0             1.0

[2201 rows x 4 columns]

In [162]:
# Concatenate the old and new columns (do not need to do anything here)
data = pd.concat([new_column, data.drop(columns=[column])], axis=1)

In [163]:
# Show dataset after doing all requirements
data

,social class_0,social class_1,social class_2,social class_3,age,sex,survived
0,1.0,0.0,0.0,0.0,0,1,1
1,1.0,0.0,0.0,0.0,0,1,1
2,1.0,0.0,0.0,0.0,0,1,1
3,1.0,0.0,0.0,0.0,0,1,1
4,1.0,0.0,0.0,0.0,0,1,1
...,...,...,...,...,...,...,...
2196,0.0,0.0,0.0,1.0,0,0,1
2197,0.0,0.0,0.0,1.0,0,0,1
2198,0.0,0.0,0.0,1.0,0,0,0
2199,0.0,0.0,0.0,1.0,0,0,0
2200,0.0,0.0,0.0,1.0,0,0,0

Split dataset into training and testing set

+ random_state = '20520115'

In [164]:
# Import package
from sklearn.model_selection import train_test_split

In [165]:
X = data.drop(columns=['survived','age','sex'])
y = data.drop(columns=['survived'])

In [166]:
# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train

      social class_0  social class_1  social class_2  social class_3
292              1.0             0.0             0.0             0.0
861              0.0             0.0             1.0             0.0
1103             0.0             0.0             1.0             0.0
1161             0.0             0.0             1.0             0.0
141              1.0             0.0             0.0             0.0
...              ...             ...             ...             ...
1638             0.0             0.0             0.0             1.0
1095             0.0             0.0             1.0             0.0
1130             0.0             0.0             1.0             0.0
1294             0.0             0.0             1.0             0.0
860              0.0             0.0             1.0             0.0

[1540 rows x 4 columns]

Load KNN classifier

In [167]:
# Load package
from sklearn.neighbors import KNeighborsClassifier

In [168]:
# Initalize KNN (k = 3)
clf_k3 = KNeighborsClassifier(n_neighbors = 3, p = 2)

In [169]:
# Initalize KNN (k = 5)
clf_k5 = KNeighborsClassifier(n_neighbors = 5, p = 2)

In [170]:
# Initalize KNN (k = 7)
clf_k7 = KNeighborsClassifier(n_neighbors = 7, p = 2)

In [171]:
# Train model here
clf_k3.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [172]:
clf_k5.fit(X_train,y_train)

KNeighborsClassifier()

In [173]:
clf_k7.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [174]:
# Predict on testing set
y_pred_k3 = clf_k3.predict(X_test)

In [175]:
y_pred_k5 = clf_k5.predict(X_test)

In [176]:
y_pred_k7 = clf_k7.predict(X_test)

In [177]:
# Import packages for calculating performance evaluation metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [178]:
accuracy_k3 = accuracy_score(y_test, y_pred_k3)

In [179]:
accuracy_k5 = accuracy_score(y_test, y_pred_k5)

In [180]:
accuracy_k7 = accuracy_score(y_test, y_pred_k7)

In [181]:
print('Accuracy KNN (k=3):', accuracy_k3)

Accuracy KNN (k=3): 0.7034795763993948

In [182]:
print('Accuracy KNN (k=5):', accuracy_k5)

Accuracy KNN (k=5): 0.6399394856278366

In [183]:
print('Accuracy KNN (k=7):', accuracy_k7)

Accuracy KNN (k=7): 0.6399394856278366

In [184]:
precision_k3 = precision_score(y_test, y_pred_k3,  average='micro')

In [185]:
precision_k5 = precision_score(y_test, y_pred_k5,  average='micro')

In [186]:
precision_k7 = precision_score(y_test, y_pred_k7, average='micro')

In [187]:
print('Precision KNN (k=3):', precision_k3)

Precision KNN (k=3): 0.9035947712418301

In [188]:
print('Precision KNN (k=3):', precision_k5)

Precision KNN (k=3): 0.9572400388726919

In [189]:
print('Precision KNN (k=3):', precision_k7)

Precision KNN (k=3): 0.9572400388726919

In [190]:
recall_k3 = recall_score(y_test, y_pred_k3, average='micro')

In [191]:
recall_k5 = recall_score(y_test, y_pred_k5, average='micro')

In [192]:
recall_k7 = recall_score(y_test, y_pred_k7, average='micro')

In [193]:
print('Recall KNN (k=3):', recall_k3)

Recall KNN (k=3): 0.9255230125523013

In [194]:
print('Recall KNN (k=5):', recall_k5)

Recall KNN (k=5): 0.8242677824267782

In [195]:
print('Recall KNN (k=7):', recall_k7)

Recall KNN (k=7): 0.8242677824267782

In [196]:
f1_score_k3 = f1_score(y_test, y_pred_k3, average='micro')

In [197]:
f1_score_k5 = f1_score(y_test, y_pred_k5, average='micro')

In [198]:
f1_score_k7 = f1_score(y_test, y_pred_k7, average='micro')

In [199]:
print('F1 score KNN (k=3):', f1_score_k3)

F1 score KNN (k=3): 0.9144274493592394

In [200]:
print('F1 score KNN (k=5):', f1_score_k5)

F1 score KNN (k=5): 0.8857913669064749

In [201]:
print('F1 score KNN (k=7):', f1_score_k7)

F1 score KNN (k=7): 0.8857913669064749

Ques 6: (Optional) Code from scratch KNN algorithm and compare your KNN to ‘sklearn’ 
KNN. 
Here is an implementation of the k-Nearest Neighbors (KNN) algorithm from scratch in Python:

```
#import numpy as np
from collections import Counter

class KNN:
    def __init__(self, k):
        self.k = k
        
    def fit(self, X, y):
        self.X_train = X
        self.y_train = y
        
    def predict(self, X):
        y_pred = []
        for x in X:
            distances = np.sum((self.X_train - x)**2, axis=1)
            nearest_indices = np.argsort(distances)[:self.k]
            nearest_labels = [self.y_train[i] for i in nearest_indices]
            y = Counter(nearest_labels).most_common(1)[0][0]
            y_pred.append(y)
        return np.array(y_pred)


```
You can compare this implementation to the KNeighborsClassifier from the sklearn library as follows:


```
# import numpy as np
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

# Load the iris dataset
iris = load_iris()
X, y = iris.data, iris.target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a KNN classifier from scratch
knn_scratch = KNN(k=5)
knn_scratch.fit(X_train, y_train)
y_pred_scratch = knn_scratch.predict(X_test)

# Create a KNN classifier from sklearn
knn_sklearn = KNeighborsClassifier(n_neighbors=5)
knn_sklearn.fit(X_train, y_train)
y_pred_sklearn = knn_sklearn.predict(X_test)

# Compare the results
print("Scratch KNN accuracy:", np.mean(y_pred_scratch == y_test))
print("sklearn KNN accuracy:", knn_sklearn.score(X_test, y_test))

```